.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 0;
  &-container {
    background-color: #d4d6dc;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 10px 0;
    position: absolute;
    top: 76px;
    left: 0;
  }
}

.info {
  background-color: #ecebeb;
  display: flex;
  justify-content: space-around;
  padding: 4px 0 6px;
  & .info-item {
    margin: 0;
  }
  &-item {
    font-size: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px 0;
    & b {
      font-weight: 700;
    }
  }
}

.load-more {
  border: none;
  border-radius: 5px;
  padding: 3px 28px;
  background-color: #1b81d4;
  display: block;
  font-weight: 500;
  line-height: 2;
  font-size: 25px;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 12px;
  &:focus,
  &:hover {
    color: #d4d6dc;
  }
}

.hidden {
  display: none;
}

.photo-card {
  width: 295px;
  background-color: #ecebeb;
  &:focus,
  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

#search-box {
  border: none;
  line-height: 2;
  font-size: 25px;
  font-weight: 500;
  width: 280px;
  &:focus {
    outline: none;
  }
}

.search-box-container {
  background-color: #1b81d4;
  display: inline-block;
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.search-box__icon {
  background-color: #ffd0db;
  margin: 4px 0 0;
}

.search-form {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #ffd0db;
  border: none;
  &:hover,
  &:focus,
  &:focus .search-box__icon,
  &:hover .search-box__icon {
    background-color: #d4d6dc;
  }
}
