<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoIT_js_homework</title>
    <link rel="icon" type="image/png" href="./images/gallery.png" />
  </head>
  <body>
    <div class="search-box-container">
      <form class="search-form" id="search-form">
        <input
          type="text"
          id="search-box"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button type="submit" class="submit-button">
          <svg class="search-box__icon" width="34" height="30">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="gallery-container">
      <div class="gallery"></div>
      <button type="button" class="load-more hidden">Load more</button>
    </div>
    <script src="index.js" type="module"></script>
  </body>
</html>
